body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: rgba(229, 84, 115, 0.10);
}

.banner{
   
    display: flex;
    align-items: center;
 
}

.banner-content{
    padding-left: 120px;
}


.banner-heading{
    margin-bottom: 32px;
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
}

.para{
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
}

.flower-one{
    padding-left: 200px;
    width: 635px;
}

.text-primary{
    color: #E55473;

}

.btn{
    margin-bottom: 100px;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    padding: 15px 23px;

}

.section-title {
    margin-top: 100px;
    color: #181818;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.feature-para{
   
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;
}

.pic{
    display: flex;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 150px;
    
    
}

.pic1{
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 214px;
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.pic2{
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 214px;
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
}
.pic3{
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 214px;
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
}
.photo{
    height: 214px;
    width: 160px;
}

.two{
    padding-left: 100px;
}

.three{
    padding-left: 100px;
}